{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom-boost">
  <div class="container">
    <!-- 
      <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'home' %}">
      <i class="fas fa-rocket text-info me-2"></i>
      <span>BoostPro<span class="text-info">.cl</span></span>
      </a>
     -->

    <a class="navbar-brand d-flex align-items-center" href="/"><img src="{% static 'web/img/cohete.png' %}" 
      alt="Logo BoostPro" height="40" class="d-inline-block align-text-top me-2 logo-boost" />
      <span class="fw-bold text-white">Boost<span class="text-info">Pro</span></span>
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto fw-medium">
        <li class="nav-item">
          <a class="nav-link px-3 link-hover-celeste" href="/#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 link-hover-celeste" href="/#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 link-hover-celeste" href="/#proyectos">Software</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 link-hover-celeste" href="{% url 'faq_list' %}">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 link-hover-celeste" href="/#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 link-hover-celeste" href="/#contacto">Contacto</a>
        </li>
        <li class="nav-item ms-lg-3">
          <a class="btn btn-outline-info rounded-pill px-4 btn-whatsapp-nav" href="https://wa.me/56926231939" target="_blank"><i class="fab fa-whatsapp me-1"></i> WhatsApp</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
