{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/blog.css' %}    ">
{% endblock %}


<div class="py-4">
    <div class="text-center mb-5">
        <h2 class="display-5 fw-bold text-uppercase text-white">
            <i class="fas fa-terminal text-info me-2"></i>Blog <span class="text-info">Técnico</span>
        </h2>
       <p class="text-light-50 lead opacity-75">Soluciones reales, Desarrollo Full-Stack y Ciberseguridad</p>
        <div class="mx-auto bg-info" style="height: 3px; width: 70px; border-radius: 2px;"></div>
    </div>

    <div class="row g-4">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card h-100 bg-secondary-dark border-0 shadow-sm card-blog-hover">
                <div class="position-relative">
                    {% if post.imagen %}
                        <img src="{{ post.imagen.url }}" class="card-img p-2 rounded-4" alt="{{ post.titulo }}" style="height: 200px; object-fit: cover;">
                    {% else %}
                        <img src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?auto=format&fit=crop&w=600" class="card-img p-2 rounded-4" alt="Default">
                    {% endif %}
                    
                    <span class="badge bg-info position-absolute top-0 end-0 m-3 rounded-pill shadow">
                        {{ post.categoria|default:"General" }}
                    </span>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title fw-bold mt-2 text-white">{{ post.titulo }}</h5>
                    <p class="card-text text-light-50 small">
                        {{ post.contenido|truncatechars:100 }}
                    </p>
                    <a href="{% url 'detalle_post' post.slug %}" class="btn btn-sm btn-outline-info rounded-pill px-3">
                        Leer más...
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center text-white">
            <p class="text-muted">Próximamente nuevas publicaciones...</p>
        </div>
        {% endfor %}
    </div>

    {% if posts %}
    <div class="text-center mt-5 text-white">
        <p class="mb-2">¿Quieres ver más guías?</p>
        <a href="#blog" class="text-info text-decoration-none fw-bold">Ver todos los artículos <i class="fas fa-arrow-right ms-1"></i></a>
    </div>
    {% endif %}
</div>